.about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;

    .about-me__container {
        display: flex;
        gap: 2em;

        @include for-phones-and-tablets-only {
            gap: 0em;
        }

        h5 {
            font-family: $ff--nova-mono;
            font-size: 1.2rem;
            color: $clr--emerald-green-light;
        }

        .about-me__container--presentation {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 2em;
            align-items: flex-start;

            .presentation--hobbies {
                ul {
                    list-style: none;
                }
            }
        }

        .about-me__container--image {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                border-radius: 1em;
                width: 340px;

                @include for-phones-and-tablets-only {
                    width: 100%;
                }
            }

            @include for-phones-and-tablets-only {
                margin-bottom: 2em;
            }
        }
    }

    @include for-phones-and-tablets-only {
        .about-me__container {
            flex-direction: column-reverse;
        }

        .about-me__container--presentation {
            width: 100% !important;

            text-align:justify;
        }

        .about-me__container--image {
            width: 100% !important;
        }
    }
}
