.article-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
}

.article__header {
    font-size: 2rem;

    span {
        color: $clr--emerald-green;
    }
}