@import "../components/nav-menu-btn";

nav {
    height: 5vh; // TO FIX LATER
    padding: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    // NAV LOGO
    .nav__logo {
        img {
            display: block;
            width: 3.125rem;

            // Convert logo to white color
            filter: brightness(0) invert(1);

            &:hover {
                animation: rotateLogo 1s ease-in-out;
                animation-fill-mode: forwards;
            }
        }

        @keyframes rotateLogo {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(90deg);
            }
        }
    }

    // NAV LINKS
    .nav__links {
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        min-width: 28.6rem;
        max-width: 33.75rem;

        ul {
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            list-style: none;

            li {
                a {
                    color: $clr--light-blue;
                    text-decoration: none;

                    span {
                        color: $clr--emerald-green;
                    }

                    &:hover {
                        color: $clr--very-light-blue;
                        span {
                            color: $clr--emerald-green-light;
                        }
                    }
                }

                button {
                    border: none;
                    border-radius: 1rem;
                    background-color: $clr--emerald-green;
                    padding: 0.5rem 1rem;
                    color: $clr--very-dark-blue;
                    cursor: pointer;

                    text-transform: uppercase;

                    &:hover {
                        background-color: $clr--emerald-green-light;
                        transform: scale(1);
                        animation: pulse 2s infinite;
                    }

                    @keyframes pulse {
                        0% {
                            transform: scale(0.95);
                            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
                        }

                        70% {
                            transform: scale(1);
                            box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
                        }

                        100% {
                            transform: scale(0.95);
                            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
                        }
                    }
                }
            }
        }
    }

    .nav__menu-toggler {
        display: none; // on desktop view
        // Include animation from components/nav-menu-btn
        @include menu-animation;
    }

    //  MEDIA QUERIES
    @include for-phones-and-tablets-only {
        nav {
        }

        .nav__links.active-nav-links {
            // TODO TO CHECK LATER!
            -webkit-font-smoothing: antialiased;
            transform-origin: 0% 0%;
            transform: translate(0, 150%); 
            transition: transform 600ms cubic-bezier(0.77, 0.2, 0.05, 1);
        }

        .nav__links {
            position: absolute;
            left: 0;
            min-width: 100vw;
            top: -1000px;
            height: 87vh; // TO FIX LATER!

            // Flex
            ul {
                flex-direction: column;
                height: 50%;
                font-size: 1.5rem;
            }
        }

        .nav__menu-toggler {
            display: block;
        }
    }
}
